<div id="modal-view-okei" class="reveal-modal large" data-reveal>

	<h3>Единица измерения</h3>

	<input id="view-okei-id" type="hidden" value="0">

	<table>
		<tr><td>Полное наименование</td><td id="view-okei-full-name"></td></tr>
		<tr><td>Секция</td><td id="view-okei-section"></td></tr>
		<tr><td>Группа</td><td id="view-okei-group"></td></tr>
		<tr><td>Локальное наименование</td><td id="view-okei-local-name"></td></tr>
		<tr><td>Международное наименование</td><td id="view-okei-international-name"></td></tr>
		<tr><td>Локальный символ</td><td id="view-okei-local-symbol"></td></tr>
		<tr><td>Международный символ</td><td id="view-okei-international-symbol"></td></tr>
	</table>

	<a class="close-reveal-modal">&#215;</a>
</div>
