<div id="modal-view-plan-graph-position" class="reveal-modal large" data-reveal>

	<h3>Позиция плана</h3>

	<input id="view-position-id" type="hidden" value="0">

	<p id="view-position-name"></p>

	<table>
		<tr><td>Заказчик</td><td><a id="view-position-customer" data-do="open-view-organisation" data-id="0"></a></td></tr>
		<tr><td>Номер</td><td id="view-position-number"></td></tr>
		<tr><td>Максимальная цена</td><td id="view-position-price"></td></tr>
		<tr><td>ОКВЭД</td><td id="view-position-okveds"></td></tr>
		<tr><td>ОКПД</td><td id="view-position-okpds"></td></tr>
	</table>

	<div id="view-position-products"></div>


	<a class="close-reveal-modal">&#215;</a>
</div>
