{% extends "main.html" %}
{% block title %}Anodos.Tenders: справочники{% endblock %}

{% block content %}

<div class="row">
	<div class="small-6 columns">
		<a href="/tenders/essence/okpd/">
			<div class="panel">
				<h5>ОКПД</h5>
				<p>Общероссийский классификатор продукции.</p>
			</div>
		</a>
	</div>
	<div class="small-6 columns">
		<a href="/tenders/essence/okved/">
		<div class="panel">
			<h5>ОКВЭД</h5>
			<p>Общероссийский классификатор видов экономической деятельности.</p>
		</div>
		</a>
	</div>
</div>
<div class="row">
	<div class="small-6 columns">
		<div class="panel">
			<h5>ОКЕИ</h5>
			<p>Общероссийский классификатор единиц измерения.</p>
		</div>
	</div>
	<div class="small-6 columns">
		<div class="panel">
			<h5>КОСГУ</h5>
			<p>Классификация операций сектора государственного управления.</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-6 columns">
		<div class="panel">
			<h5>ОКТМО</h5>
			<p>Общероссийский классификатор территорий муниципальных образований.</p>
		</div>
	</div>
	<div class="small-6 columns">
		<div class="panel">
			<h5>ОКОПФ</h5>
			<p>Общеросийский классификатор организационно-правовых форм.</p>
		</div>
	</div>
</div>

{% endblock %}

{% block js-content %}
<script>
</script>
{% endblock %}
