{% extends "main.html" %}
{% block title %}Anodos.Tenders: ОКПД (общеросийский классификатор продукции){% endblock %}

{% block content %}

<!-- Таблица со списком объектов -->
<div class="row">
	<div class="small-12 columns">

		<label>Поиск по справочнику ОКПД
			<input data-do="okpds-search" type="text">
		</label>

		<ul class="no-bullet hidden" data-content="okpds-search-result"></ul>

		<ul class="no-bullet" data-content="okpds-catalog">
			{% for okpd in okpds %}
			<li>
				{% if okpd.childs_count %}
				<i data-do="switch-li-okpd-status" data-id="{{ okpd.id }}" data-state="closed" class="fa fa-plus-square-o"></i>
				{% else %}
				<i class="fa fa-circle-thin"></i>
				{% endif %}
				<span>{{ okpd.code }}</span>
				<span>{{ okpd.name }}</span>
				{% if okpd.childs_count %}
				<ul id="okpd-{{ okpd.id }}-childs"></ul>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

{% endblock %}

{% block js-content %}
<script>
{% include "tenders/js/view-okpd.js" %}
</script>
{% endblock %}
