{% extends "main.html" %}
{% block title %}Anodos.Tenders: Позиции планов-графиков{% endblock %}

{% block content %}

{% if perms.tenders.add_plangraphposition or perms.tenders.change_plangraphposition or perms.tenders.delete_plangraphposition %}

<!-- Панель вызова фильтра вывода -->
<div class="row collapse">
	<ul class="button-group even-5">
		<li><button id="filter-positions-filter" data-do="open-filter-positions-filter"{% if filter == None %} class="secondary"{% endif %}><i class="fa fa-filter"></i> Фильтр</button></li>
		<li><button id="filter-positions-filter" data-do="open-filter-positions-filter"{% if filter == None %} class="secondary"{% endif %}><i class="fa fa-map-marker"></i> Регион</button></li>
		<li><button id="filter-positions-filter" data-do="open-filter-positions-filter"{% if filter == None %} class="secondary"{% endif %}><i class="fa fa-building-o"></i> Организация</button></li>
		<li><button id="filter-positions-filter" data-do="open-filter-positions-filter"{% if filter == None %} class="secondary"{% endif %}><i class="fa fa-filter"></i> ОКПД</button></li>
		<li><button id="filter-positions-filter" data-do="open-filter-positions-filter"{% if filter == None %} class="secondary"{% endif %}><i class="fa fa-filter"></i> ОВЭД</button></li>
	</ul>
</div>

<!-- Таблица со списком загрузчиков -->
<div class="row collapse">
	<p>Количество строк запроса: {{ positions_count }}
	<table>
		<tr>
			<th class="text-center">#</th>
			<th>Год</th>
			<th>Регион</th>
			<th>Заказчик</th>
			<th>Наименование</th>
			<th>Цена</th>
			<th>Статус</th>
			<th>Размещение</th>
		</tr>
		{% for position in positions %}
		<tr>
			<td>{{ position.n }}</td>
			<td><a>{{ position.plan_graph.year }}</a></td>
			<td><a>{{ position.plan_graph.region.name }}</a></td>
			<td><a data-do="open-view-organisation" data-id="{{ position.plan_graph.customer.id }}">{{ position.plan_graph.customer.short_name }}</a>{% if position.plan_graph.customer != position.plan_graph.owner %}<br/>Владелец: <a data-do="open-view-organisation" data-id="{{ position.plan_graph.owner.id }}">{{ position.plan_graph.owner.short_name }}</a>{% endif %}</td>
			<td><a data-do="open-view-position" data-id="{{ position.id }}">{{ position.subject_name }}</a></td>
			<td class="text-right">{% autoescape off %}{{ position.price_str }}{% endautoescape %}</td>
			<td>
				<div class="switch small">
					<input id="plan-graph-position-{{ position.id }}-state" data-do="switch-plan-graph-position-state" data-id="{{ position.id }}" data-plan-graph-position-state="{{ plan_graph_poistion.id }}" type="checkbox"{% if position.state %} checked{% endif %}>
					<label for="plan-graph-position-{{ position.id }}-state"></label>
				</div>
			</td>
			<td>{{ position.placing_str }}</td>
		</tr>
		{% endfor %}
	</table>

	<!-- Pagination -->
	{% if pages %}
	<div class="pagination-centered">
		<ul class="pagination">
			<li class="arrow{% if not page_prev %} unavailable{% endif %}"><a{% if page_prev %} href="{{ url }}{% if page_prev > 1 %}page/{{ page_prev }}/{% endif %}"{% endif %}>&laquo; Влево</a></li>
			{% for n in pages %}
				{% if n %}
				<li{% if page == n %} class="current"{% endif %}><a href="{{ url }}page/{{ n }}/">{{ n }}</a></li>
				{% else %}
				<li class="unavailable"><a>&hellip;</a></li>
				{% endif %}
			{% endfor %}
			<li class="arrow{% if not page_next %} unavailable{% endif %}"><a{% if page_next %} href="{{ url }}page/{{ page_next }}/"{% endif %}>Вправо &raquo;</a></li>
		</ul>
	</div>
	{% endif %}
</div>

{% else %}

<div class="row collapse">
	<div class="small-12 columns">
		<p class="panel">Недостаточно прав для данной функциональности.</p>
	</div>
</div>

{% endif %}

{% include "tenders/modal/view-plan-graph-position.html" %}
{% include "tenders/modal/view-organisation.html" %}

{% endblock %}

{% block js-content %}
<script>
{% include "tenders/js/view-plan-graph-position.js" %}
{% include "tenders/js/view-organisation.js" %}
</script>
{% endblock %}
