{% extends "main.html" %}
{% block title %}Anodos: Загрузчики{% endblock %}

{% block content %}

{% if perms.tenders.add_updater or perms.tenders.change_updater or perms.tenders.delete_updater %}

<!-- Таблица со списком загрузчиков -->
<div class="row collapse">
	<table>
		<tr>
			<th class="text-center">#</th>
			<th>Наименование</th>
			<th>Статус</th>
			<th>Последнее обновление</th>
		</tr>
		{% for updater in updaters %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td><a data-do="open-edit-updater" data-id="{{ updater.id }}" data-updater-name="{{ updater.id }}">{{ updater.name }}</a></td>
			<td>
				<div class="switch small">
					<input id="updater-{{ updater.id }}-state" data-do="switch-updater-state" data-id="{{ updater.id }}" data-updater-state="{{ updater.id }}" type="checkbox"{% if updater.state %} checked{% endif %}>
					<label for="updater-{{ updater.id }}-state"></label>
				</div>
			</td>
			<td>{{ updater.updated|date:"d.m.Y H.i" }}</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% else %}

<div class="row collapse">
	<div class="small-12 columns">
		<p class="panel">Недостаточно прав для данной функциональности.</p>
	</div>
</div>

{% endif %}

{% include "tenders/modal/edit-updater.html" %}

{% endblock %}

{% block js-content %}
<script>
{% include "tenders/js/edit-updater.js" %}
</script>
{% endblock %}
